

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
   grid-template-areas:
    "headerL headerR";

    grid-template-columns: 1fr 1fr;
}

.header-grid{
    display: grid;
    background: red;
    grid-template-areas:
    "headerL headerR";

    grid-template-columns: 1fr 1fr;
    height: 20vh;
}

.headerL,

.headerR {

    color: black;

    font-size: 30px;

    position: relative;

    z-index: 10;

}


.main {
  display: grid;

  grid-template-areas:
    "navSide navL navR"
    "mainSide mainL mainR"
    "detailSide detailsL detailsR";

  grid-template-columns:
    4vw minmax(0, auto) minmax(500px, 1fr);

grid-template-rows:
  5vh auto minmax(10vh, 1fr);

  gap: 2vh 2vw;

width: 100vw;
min-height: 100vh;
}


.navSide{
grid-area: navSide;
}

.navM{
grid-area: navM;

}


.navR{
grid-area: navR;
text-align: right;
}


.mainSide{
grid-area: mainSide;
}


.mainL{
grid-area: mainL;
}


.mainR{
grid-area: mainR;
}


.detailSide{
grid-area: detailSide;
}


.detailsL{
grid-area: detailsL;
}

.detailsR{
grid-area: detailsR;
}



.navL{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.project-text{
  grid-area: mainR;
}


.Image-Container img {
 width: 100%;
  height: auto;
  display: block;
}


.project-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image.active {
  display: block;
}